* {
    box-sizing: border-box;   
}

body {
    font-family: Arial, Helvetica, sans-serif, 'Helvetica Neue';
    background-image: url("assets/images/patterns.png");
    font-size: 18px;
    
}
.navbar{
    width: 100%;
    overflow: auto;
    margin: 0 0 30px;
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h1{
    padding: 15px;
    width:12%;
    background-color:#4aaaa5;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    float: left;
    margin-left: 180px;
    position: absolute;
}
ul {
    margin: 0 250px 0 0;
    width: 12%;
    padding: 10px;
    float: right;
    list-style-type: none;
}
li {
    float: left;
    margin-left: 25px;
}

.container {
   height: 960px;
   background-color: white;
   color: #777777;
   margin: 0 auto;
   padding: 25px;
   clear: both;
   border-color: #cccccc;
   border-style: solid;
   width: 100%;
   max-width: 960px;
   margin-bottom: 20px;

}
h2 {
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    display: block;
    clear: both;
    font-size: 30px;

}
#bio-image {
    width: 150px;
    margin-left: 5px;
    margin-bottom: 50px;
    float: left;
}
footer {
    position: fixed;
    text-align: center;
    background-color: #666666;
    border-top: solid;
    border-color: #4aaaa5;
    padding: 40px 0 5px 0;
    border-width: 10px;
    width: 100%;
    overflow: auto;
    font-size: 10px;
    bottom: 0;
    left: 0;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;  
}

/* for portfolio */
.container img {
    width: 250px;
    margin-left: 50px;
    margin-bottom: 50px;
}