body {
    padding: 0;
    margin:0;
    font-family: Arisl, Arial, Helvetica, sans-serif, 'Helvetica Neue';
    font-size: 18px;
    background-image: url('assets/css/patterns.png');
}
.navbar{
    background: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960px; 
    height: 60px;
    margin: 0 auto;
}
h1{
    padding: 15.5px;
    width:15%;
    background-color:#4aaaa5;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    float: left;
    margin: 0 0 0 230px;
}
ul {
    margin: 0 230px 0 0;
    width: 15%;
    padding: 10px;
    float: right;
}
